
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

#maven
target
pom.xml.branch
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

## nodejs
innrate-frontend/node/
innrate-frontend/node_modules
**/front/coverage/
package-lock.json
yarn.lock

HELP.md

application-dev.yml
keystore-dev.jks
/dev-env/

/data
logs/
/innrate-frontend/build/
/innrate-frontend/coverage/

.vscode/settings.json

/innrate-backend/src/main/resources/credentials.env
