<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_FILE" value="logs/service.log"/>
    <property name="LOG_FILE_MAX_HISTORY" value="5"/>
    <property name="LOG_FILE_MAX_SIZE" value="10MB"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="ru.gpn.asodu" level="DEBUG"/>
</configuration>
